<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>+SHOP</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/images/logo.png" type="image/png">
</head>
<body>
</body>
<header class="navigator slidedown" id="sticky-header">
  <nav>
    <ul class="ul">
        <li><a class="smoth-scroll" href="#home">Home</a></li>
        <li><a class="smoth-scroll" href="#shop">Shop</a></li>
        <li><a class="smoth-scroll" href="#contact">Contact</a></li>
      </ul>
  </nav>
</header>
<div class="user-info">
  <img src="{{ avatar }}" alt="Avatar" style="width: 50px; height: 50px; border-radius: 50%;">
  <span class="username">{{ username }}</span>
</div>
<!-- header ends -->
<!-- home starts -->
<section id="home">
  <div class="container">
    <div class="row">
      <h2 class="titulo">+SHOP</h2>
    </div>
  </div>
</section>
<!-- home ends -->
<!-- shop starts -->
<section id="shop">
  <div class="containerport">
    <div class="row-shop1">
      <div class="item1">
        <img src="/static/images/spotify.png" alt="Spotify">
        <h3 class='title'>Spotify Premium</h3>
        <p class='description1'><b>Duration : </b>Lifetime ( 60Days Warranty )</p>
        <p class='description1'><b>Price:</b> 0,99€</p>
        <p class='description1'><b>Plan :</b> Normal (OWNER)</p>
        <p class='description1'><b>Stock:</b> ∞</p>
        <button class="button">
          <span class="transition"></span>
          <span class="gradient"></span>
          <span class="label">Buy</span>
        </button>
      </div>
      <div class="item2">
        <img src="/static/images/discord-nitro.png" alt="Discord Nitro">
        <h3>Discord Nitro</h3>
        <p class="description1"><b>Duration :</b> 1 MONTH ( 30Days Warranty )</p>
        <p class="description1"><b>Price:</b> 4,79€</p>
        <p class="description1"><b>Plan :</b> 1 month</p>
        <p class="description1"><b>Stock :</b>∞</p>
        <button class="button">
          <span class="transition"></span>
          <span class="gradient"></span>
          <span class="label">Buy</span>
        </button>
      </div>
      <div class="item3">
        <img src="/static/images/hbo.png" alt="HBO MAX">
        <h3>HBO MAX</h3>
        <p class="description1"><b>Duration :</b> Lifetime ( 60Days Warranty )</p>
        <p class="description1"><b>Price:</b> 0,79€</p>
        <p class="description1"><b>Plan :</b> Standard (OWNER)</p>
        <p class="description1"><b>Stock :</b>∞</p>
        <button class="button">
          <span class="transition"></span>
          <span class="gradient"></span>
          <span class="label">Buy</span>
        </button>
      </div>
    </div>
  </div>
  <div class="containerport2">
    <div class="row-shop2">
      <div class="item4">
        <img src="/static/images/youtube.png" alt="Youtube Premium">
        <h3>Youtube Premium</h3>
        <p class="description1"><b>Duration :</b>  Lifetime ( 30Days Warranty )</p>
        <p class="description1"><b>Price:</b> 0,99€</p>
        <p class="description1"><b>Plan :</b> Family Member (SOLO)</p>
        <p class="description1"><b>Stock :</b>∞</p>
        <button class="button">
          <span class="transition"></span>
          <span class="gradient"></span>
          <span class="label">Buy</span>
        </button>
      </div>
      <div class="item5">
        <img src="/static/images/netflix.png" alt="Netflix">
        <h3>Netflix</h3>
        <p class="description1"><b>Duration :</b> Lifetime ( FULL Warranty ) </p>
        <p class="description1"><b>Price:</b> 0,89€</p>
        <p class="description1"><b>Plan :</b> Standard (OWNER)</p>
        <p class="description1"><b>Stock :</b>∞</p>
        <button class="button">
          <span class="transition"></span>
          <span class="gradient"></span>
          <span class="label">Buy</span>
        </button>
      </div>
      <div class="item5">
        <img src="/static/images/disneyplus.png" alt="Disney Plus">
        <h3>Disney Plus</h3>
        <p class="description1"><b>Duration :</b>  Lifetime ( 60Days Warranty )</p>
        <p class="description1"><b>Price:</b> 0,79€ </p>
        <p class="description1"><b>Plan :</b> Standard (OWNER)</p>
        <p class="description1"><b>Stock :</b>∞</p>
        <button class="button">
          <span class="transition"></span>
          <span class="gradient"></span>
          <span class="label">Buy</span>
        </button>
      </div>
    </div>
  </div>
</section>
<!-- shop ends -->
<!-- contact starts -->
<section id="contact">
  <div class="conteinerc">
    <h3>Contact</h3>
  </div>
</section>
<!-- contact ends -->
<!-- footer starts -->
<footer>
      <p>
        &copy; 2024 +SHOP. All rights reserved.
      </p>
  </footer>
    <script src="/static/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@16/dist/smooth-scroll.polyfills.min.js"></script>
  <body></body></html>